on:
  push:
  pull_request:
jobs:
  stack-ghc-8_12:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-22.11
      - uses: haskell/actions/setup@v2
        with:
          enable-stack: true
      - if: ${{ runner.os == 'Linux' }}
        # https://github.com/actions/runner-images/issues/7061
        run: sudo chown -R $USER /usr/local/.ghcup
      - uses: actions/cache@v3
        with:
          path: |
            ~/.stack
            .stack-work
          key: stack-${{ runner.os }}-8.12-${{ hashFiles('stack-ghc-8.12.yaml.lock') }}-2
          restore-keys: |
      - run: stack --stack-yaml stack-ghc-8.12.yaml build --only-dependencies
      - run: stack --stack-yaml stack-ghc-8.12.yaml build
      - run: stack --stack-yaml stack-ghc-8.12.yaml test
      - run: stack --stack-yaml stack-ghc-8.12.yaml bench --no-run-benchmarks
  stack-ghc-9_0:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-22.11
      - uses: haskell/actions/setup@v2
        with:
          enable-stack: true
      - if: ${{ runner.os == 'Linux' }}
        # https://github.com/actions/runner-images/issues/7061
        run: sudo chown -R $USER /usr/local/.ghcup
      - uses: actions/cache@v3
        with:
          path: |
            ~/.stack
            .stack-work
          key: stack-${{ runner.os }}-${{ hashFiles('stack.yaml.lock') }}-2
          restore-keys: |
      - run: stack build --only-dependencies
      - run: stack build
      - run: stack test
      - run: stack bench --no-run-benchmarks
  stack-ghc-9_2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-22.11
      - uses: haskell/actions/setup@v2
        with:
          enable-stack: true
      - if: ${{ runner.os == 'Linux' }}
        # https://github.com/actions/runner-images/issues/7061
        run: sudo chown -R $USER /usr/local/.ghcup
      - uses: actions/cache@v3
        with:
          path: |
            ~/.stack
            .stack-work
          key: stack-${{ runner.os }}-9.2-${{ hashFiles('stack-ghc-9.2.yaml.lock') }}-2
          restore-keys: |
      - run: stack --stack-yaml stack-ghc-9.2.yaml build --only-dependencies
      - run: stack --stack-yaml stack-ghc-9.2.yaml build
      - run: stack --stack-yaml stack-ghc-9.2.yaml test
      - run: stack --stack-yaml stack-ghc-9.2.yaml bench --no-run-benchmarks
  cabal-ghc-9_0:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-22.11
      # - uses: actions/cache@v3
      #   with:
      #     path: ~/.cabal
      #     key: cabal-${{ runner.os }}-9.0-${{ hashFiles('cabal.project.freeze') }}
      - run: nix develop --command 'cabal v2-build all'
      - run: nix develop --command 'cabal v2-test all'
      - run: nix develop --command 'cabal v2-build --enable-benchmarks all'
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: fourmolu/fourmolu-action@v6
